<ion-view view-title="DatePicker" ng-init="startScroll()">
  <ion-content>
    <h1>Date Picker</h1>
    <label class="item item-input item-stacked-label">
    <span class="input-label">Date1</span>
    <input type="text" placeholder="DD/MM/YYYY" id="bDay" ng-init="initDatePicker()">
  </label>
    <label class="item item-input item-stacked-label">
    <span class="input-label">Date2</span>
    <input type="text" placeholder="DD/MM/YYYY" id="bDay2" ng-init="initDatePicker2()">
  </label>
    <label class="item item-input item-stacked-label">
    <span class="input-label">Date3</span>
    <input type="text" placeholder="DD/MM/YYYY" id="bDay3" ng-init="initDatePicker3()">
  </label>
  

  </ion-content>
</ion-view>
